.main h1{
  padding: 5%;
  display: inline-block;
}
.main nav{
  display: inline-block;
  width: 50%;
  margin-left: 5%;
}
.main nav button{
  padding: 3%;
  display: inline-block;
  color: white;
  background-color: #094DDE;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.main nav button:hover{
  transition: 0.3s;
  color: #094DDE;
  background: white;
}
.aside{
  width: 100%;
}
#formulario_admin{
  display: none;
  width: 80%;
  margin-left: 5%;
}
#formulario_funcionario{
  display: none;
  width: 80%;
  margin-left: 5%;
}
.form{
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}
.form p label{
  text-decoration: none;
  border-bottom: 1px rgba(9, 27, 222, 0.7) solid;
  padding-bottom: 2%;
  font-size: 16px;
}
.form input{
  margin-left: 5%;
  background-color: #094DDE;
  color: white;
  border: none;
  width: 40%;
  padding: 1.5%;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 2%;
  display: inline-block;
}
.form input[type='submit']{
  cursor: pointer;
  margin-top: 2%;
}
::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.4);
}
:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.4);
}
::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.4);
}
:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.4);
}
