/* RESET */
*{
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

/* MENU */
#menu{
  height: 100%;
}
.menu{
  width: 20%;
  background-color: #094DDE;
  position: absolute;
  display: inline-block;
}
.menu h1{
  text-align: center;
  padding: 5%;
  color: white;
  font-weight: lighter;
}
.menu ul li{
  text-align: left;
  padding: 5%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  list-style: none;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}
.menu ul li:hover{
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  margin-left: 5%;
}
.menu ul li a{
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}
.menu ul li a:hover{
  color: rgba(255, 255, 255, 1);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
}

/* MAIN */
.container{
  width: 80%;
  margin-left: 20%;
  clear: both;
}

/* MEDIAS */
@media(max-width: 600px){
  .menu{
    width: 60%;
    left: -60%;
    display: none;
  }
  .btn{
    width: 20%;
    float: right;
  }
  #btn_fechar{
    display: none;
  }
  .btn button{
    margin-top: 15%;
    padding: 15%;
    display: inline-block;
    color: #fff;
    background-color: #094DDE;
    border: none;
    border-radius: 50px;
  }
}

@media (min-width: 601px) {
  .menu{
    width: 40%;
    left: -60%;
    display: none;
  }
  .btn{
    width: 20%;
    float: right;
  }
  #btn_fechar{
    display: none;
  }
  .btn button{
    margin-top: 15%;
    padding: 15%;
    display: inline-block;
    color: #fff;
    background-color: #094DDE;
    border: none;
    border-radius: 50px;
  }
}

@media(min-width: 700px){
  .menu{
    width: 40%;
  }
  .btn button{
    padding: 10%;
  }
}

@media (min-width: 900px){
  .menu{
    width: 25%;
  }
}

@media (min-width: 1300px){
  .btn{
    display: none;
  }
  .menu{
    width: 20%;
    display: inline-block;
    left: 0;
  }
}
